{% extends "base.html" %}
{% block main_menu %}
{{ super() }}
{% include 'quiz_menu.html' %}
{% endblock %}

{% block content1_head %}
<h2>Редактировать вопрос</h2>
{% endblock %}

{% block content1 %}
<div class="quiz_form">
  <form method="post">
    <label>Вопрос:</label><br>
    <textarea name="question" required>{{ question.question }}</textarea><br><br>

    <label>Правильный ответ:</label><br>
    <input type="text" name="answer" value="{{ question.answer }}" required><br><br>

    <label>Неправильный вариант 1:</label><br>
    <input type="text" name="wrong1" value="{{ question.wrong1 }}" required><br><br>

    <label>Неправильный вариант 2:</label><br>
    <input type="text" name="wrong2" value="{{ question.wrong2 }}" required><br><br>

    <label>Неправильный вариант 3:</label><br>
    <input type="text" name="wrong3" value="{{ question.wrong3 }}" required><br><br>

    <input type="submit" value="Сохранить" class="button">
      <a href="{{ url_for('view_quiz_edit') }}" class="button">Назад</a>
</form>
</div>
{% endblock %}